name: project1-r_func

on:
  workflow_dispatch:
    inputs:
      OVERWRITTEN:
        description: 'overwritten fields'
        required: true
      PAYLOAD_URL:
        description: 'url to payload'
        required: true
jobs:
  run_docker_image:
    runs-on: ubuntu-latest
    container: ghcr.io/faasr/ga-rpc-r:dev
    env:
      TOKEN: ${{ secrets.PAT }}
      SECRET_PAYLOAD: ${{ secrets.SECRET_PAYLOAD }}
      OVERWRITTEN: ${{ github.event.inputs.OVERWRITTEN }}
      PAYLOAD_URL: ${{ github.event.inputs.PAYLOAD_URL }}
    steps:
    - name: run Python
      run: |
        cd /action
        python3 faasr_entry.py
